.nav-wrapper, .brand-log {
  background: linear-gradient(to top, rgba(61, 2, 145, 1), rgba(85, 0, 224, 1));
  font-family: 'Raleway', sans-serif;
  color: rgb(117, 60, 157);


}

nav {
  height: 300px;
}

a {
  color: rgb(117, 60, 157);
}
.
.page-footer {
  background-color: rgb(29, 28, 29);

}
.brand-logo {
  margin-top: 180px;
  margin-left: 20px;

}
a.brand-logo {
  font-size: 90px;
}

.links {
  font-size: 30px;
}

.card-image {
  overflow: hidden;
}
.card {
  height: 400px;
  margin: 40px;
}
body {
  background-color: white;

}
h3, h4 {
  font-family: 'Questrial', sans-serif;


}
.horizontal {
   width: 400px;

 }

.connect {
   width: 300px;
   height: 220px;

 }
 .connect-me {
   float: right;
 }
.list {
  float: left;
}
 .list2 {
  float: right;
 }
